<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9cgj2OWlF25HrnrdqE3Fa-TiQc-y1RAg</string>
	<key>GCM_SENDER_ID</key>
	<string>407722243486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appXemay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appxemay-c3961</string>
	<key>STORAGE_BUCKET</key>
	<string>appxemay-c3961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407722243486:ios:a07c5e40e17a4d68a9928f</string>
</dict>
</plist>